@import "tailwindcss";
@layer utilities {
  .mask-wave {
    -webkit-mask-image: url("/masks/scallop-mask.svg");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("/masks/scallop-mask.svg");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }
}
